body {
    margin: 0;
    padding: 0;
}

.mijn-klasse {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
}

.github {
width: 100px;
height: 100px;

}
